body{
font-family: 'Open Sans', sans-serif;;

}

.header{
background-color: 5e503f;
width: 100%;
height: 150px;
padding: 5px;
display: flex;
justify-content:space-between;
box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;





}




.right link{
text-decoration: none;
}

.left {
    display: flex;
    align-items: center;
    color: rgb(42, 37, 37);
}

.left h2 {
    margin:10px;
    font-size: 50px;
}